<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>青岛大学团委</title>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="第一时间推送校园学术讲座、学生活动预告、赛事通知、追踪校园热点！">
<meta name="keywords" content="青岛大学团委,微信公众号，微信">
<link href="{{STATIC_URL }}css/erweima.css" rel="stylesheet" type="text/css">
<style type="text/css">
@media screen and (max-width:320px){
.erweima{ width:172px; margin-top:25px; height:172px}
.content {padding: 0;width: 85%;}
h1{ display:none}
}
</style>
</head>

<body>
<div class="main">
<h1>About</h1>
<div class="erweima"><img src="http://smartqdu-image.stor.sinaapp.com/s_52875334448da.jpg"></div>
<div class="beizhu">
<div class="beizhubg">

<p>请使用微信扫描二维码关注此公众号</p>
</div>
</div>
<div class="content">
第一时间推送校园学术讲座、学生活动预告、赛事通知、追踪校园热点！</div>
<div class="clr"></div>
<div class="footer"><p>© 2013-2014 青岛大学团委版权所有</p></div>
</div>

</body></html>