

<div class="container">
    {% ifequal info.info_type "lost" %}
    <div class="panel panel-danger">
        <div class="panel-heading">丢失信息详情</div>
        <div class="panel-body">
            {% if not info.status %}
            <div class="alert alert-success">注意！这件物品已经被标记为找到！</div>
            {% endif %}
            物品类别：{{ info.item_type }}<br/><br/>
            物品名称：{{ info.item_name }}<br/><br/>
            时 间：{{ info.time|date:"Y年m月d日" }}<br/><br/>
            发布时间：{{ info.publish_time|date:"Y年m月d日 H时i分" }}<br/><br/>
            说 明：{{ info.content }}
            {% if info.image_url %}
                <br/><br/><img src="{{ info.image_url }}" class="img-responsive" alt="Responsive image">
            {% endif %}<br/><br/>
            丢失人姓名：{{ info.name }}<br/><br/>
            联系方式：<span id="contact"></span><br/>

            <form class="form-inline"  id="get_contact_form" method="POST" action="/lost_and_found/info/{{ info_id }}/get_contact/">{% csrf_token %}
                <img src='/get_verify_code/'>
        <div class="form-group">
            <input type="text" class="form-control" name="verify_code" placeholder="验证码">
            </div>
            <button type="submit" class="btn btn-default" id="get_contact_submit">提交</button>

                </form><br/>分享一下，让小伙伴们一起帮你！
            <div class="bdsharebuttonbox" data-tag="share_1">

	<a class="bds_qzone" data-cmd="qzone" href="#"></a>
	<a class="bds_renren" data-cmd="renren"></a>
	<a class="bds_tsina" data-cmd="tsina"></a>
	<a class="bds_tqq" data-cmd="tqq"></a>
	<a class="bds_weixin" data-cmd="weixin"></a>
</div>
            {% for item in comment reversed %}
            <div class="panel panel-info">
                <div class="panel-heading"><a href="/mail/send_mail/?to_user={{ item.author }}"><code>{{ item.author }}</code></a> published at <em>{{ item.publish_time|date:"Y年m月d日 H时i分" }}</em>
                </div>
                <div class="panel-body">
                    {{ item.content }}
                </div>
            </div>
            {% endfor %}
            <div class="panel panel-success">
                <div class="panel-heading"><em>添加评论</em></div>
                <div class="panel-body">
                    <form id="post_comment_form" action="/lost_and_found/info/{{ info_id }}/post_comment/" method="post">{% csrf_token %}
                        <textarea class="form-control" rows="3" name="comment"
                                ></textarea><br/>
                        <button type="submit" class="btn btn-lg btn-primary btn-block col-sm-4" id="post_comment_submit"
                                >提交
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endifequal %}
    {% ifequal info.info_type "found" %}
    <div class="panel panel-primary">
        <div class="panel-heading">拾获信息详情</div>
        <div class="panel-body">
            {% if not info.status %}
            <div class="alert alert-success">注意！这件物品已经被标记为找到失主！</div>
            {% endif %}
            物品类别：{{ info.item_type }}<br/><br/>
            物品名称：{{ info.item_name }}<br/><br/>
            时 间：{{ info.time|date:"Y年m月d日" }}<br/><br/>
            发布时间：{{ info.publish_time|date:"Y年m月d日 H时i分" }}<br/><br/>
            说 明：{{ info.content }}
            {% if info.image_url %}
                <br/><br/><img src="{{ info.image_url }}" class="img-responsive" alt="Responsive image">
            {% endif %}<br/><br/>
            拾获人姓名：{{ info.name }}<br/><br/>
            联系方式：<span id="contact">请输入验证码！</span><br/>
            <form class="form-inline"  id="get_contact_form" method="POST" action="/lost_and_found/info/{{ info_id }}/get_contact/">{% csrf_token %}
                <img src='/get_verify_code/'>
        <div class="form-group">
            <input type="text" class="form-control" name="verify_code" placeholder="验证码">
            </div>
            <button type="submit" class="btn btn-default" id="get_contact_submit">提交</button>

                </form><br/>分享一下，让小伙伴们一起帮你！
            <div class="bdsharebuttonbox" data-tag="share_1">

	<a class="bds_qzone" data-cmd="qzone" href="#"></a>
	<a class="bds_renren" data-cmd="renren"></a>
	<a class="bds_tsina" data-cmd="tsina"></a>
	<a class="bds_tqq" data-cmd="tqq"></a>
	<a class="bds_weixin" data-cmd="weixin"></a>
</div>

            {% for item in comment reversed %}
            <div class="panel panel-info">
                <div class="panel-heading"><a href="/mail/send_mail/?to_user={{ item.author }}"><code>{{ item.author }}</code></a> published at <em>{{ item.publish_time|date:"Y年m月d日 H时i分" }}</em>
                </div>
                <div class="panel-body">
                    {{ item.content }}
                </div>
            </div>
            {% endfor %}
            <div class="panel panel-success">
                <div class="panel-heading"><em>添加评论</em></div>
                <div class="panel-body">
                    <form id="post_comment_form" action="/lost_and_found/info/{{ info_id }}/post_comment/" method="post">{% csrf_token %}
                        <textarea class="form-control" rows="3" name="comment"
                                ></textarea><br/>
                        <button type="submit" class="btn btn-lg btn-primary btn-block col-sm-4" id="post_comment_submit"
                                >提交
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endifequal %}
</div>
<script>
	window._bd_share_config = {
		common : {
			bdText : 'SmartQdu - 提供校园文化产品，自习室查询，觅物，选修课评价等校园服务。',

		},
		share : [{
			"bdSize" : 32
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>

