<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">{{ info.classification }}</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-8 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ info.preview_pic_url }}">

                    </div>
                    <div class="bdsharebuttonbox" data-tag="share_1">

	<a class="bds_qzone" data-cmd="qzone" href="#"></a>
	<a class="bds_renren" data-cmd="renren"></a>
	<a class="bds_tsina" data-cmd="tsina"></a>
	<a class="bds_tqq" data-cmd="tqq"></a>
	<a class="bds_weixin" data-cmd="weixin"></a>
</div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="caption" id="order">
                        <h4>{{ info.name }}</h4><br/>
                        {{ info.simple_introduction }}
                        <hr>
                        <div id="text">
                        <p><strong>商品编号：</strong>{{ info.id }}</p>
                        <p><strong>价格：</strong>{{ info.price|floatformat:"2" }}</p>
                        <p><strong>库存：</strong>{{ info.store_num }}</p>

                        <form action="/online_shop/item/{{ info.id }}/create_order/" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">购买数量</span>
                                <input type="text" class="form-control" placeholder="购买数量" maxlength="5"  name="number" value="1">
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary btn-lg">立即预订</button>
                        </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">商品介绍</div>
            <div class="panel-body">
                {% autoescape off %}
                {{ info.introduction }}
                {% endautoescape off %}
            </div>
        </div>


    </div>
    <script>
	window._bd_share_config = {
		common : {
			bdText : 'SmartQdu - 提供校园文化产品，自习室查询，觅物，选修课评价等校园服务。',
			bdDesc : '我刚刚看了{{ info.name }},觉得不错，大家也去看看吧！',
		},
		share : [{
			"bdSize" : 32
		}],
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</div>
