{% extends "base.html" %}


{% block body %}

{% include "_nav_bar.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://qdutw-storage.stor.sinaapp.com/5531_977_front_204418_600x600.jpg" hight="380"
                     width="390">

                <div class="caption">
                    <h3>TEEKER BASIC-CS CVC抓绒拉链帽衫-标准款</h3>

                    <p>正面抽取清华里最有代表性的符号，并以极简主义的手法加以表现，拼成一个二校门，象征清华生活的多姿多彩。金黄的色调简洁、大方，能更好的搭配底衫。</p>

                    <p><a href="/online_shop/item/1/" class="btn btn-primary" role="button">点击查看</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://smartqdu-image.stor.sinaapp.com/psb%20(2).jpg" hight="380"
                     width="390">

                <div class="caption">
                    <h3>青岛大学校园风景扑克牌</h3>

                    <p>青岛大学校园风景扑克牌</p>

                    <p><a href="/online_shop/item/2/" class="btn btn-primary" role="button">点击查看</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://qdutw-storage.stor.sinaapp.com/5531_977_front_204418_600x600.jpg" hight="380"
                     width="390">

                <div class="caption">
                    <h3>TEEKER BASIC-CS CVC抓绒拉链帽衫-标准款</h3>

                    <p>正面抽取清华里最有代表性的符号，并以极简主义的手法加以表现，拼成一个二校门，象征清华生活的多姿多彩。金黄的色调简洁、大方，能更好的搭配底衫。</p>

                    <p><a href="/online_shop/item/1/" class="btn btn-primary" role="button">点击查看</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}