<div class="container">

      <div class="masthead">
        <h3 class="text-muted">Smart Qdu</h3>
        <ul class="nav nav-justified">
          <li><a href="/">主页</a></li>
          <li><a href="/classroom/">自习室</a></li>
          <li><a href="/lost_and_found/">觅物</a></li>
          <li><a href="/online_shop/">商城</a></li>
          <li><a href="/courses/">爱选修</a></li>
          <li><a href="/contact/">联系我</a></li>
          {% if user.is_authenticated %}
            <li><a href="/user_profile/">{{ user.user_name }}&nbsp;&nbsp;<span class="glyphicon glyphicon-comment" id="mail_reminder" style="display:none;"></span></a></li>
          {% else %}
            <li><a href="/login/">登录</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
        <br/><br/>

