{% extends "base.html" %}


{% block body %}

{% include "_nav_bar.html" %}

<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
    <p>
        那些技术宅们有自己发挥的天地啦~招募web前端开发人员。要求对html, css, javascript等前端基础知识有初步的了解，
        有自己设计制作较复杂前端网页的经历，喜欢团队合作，喜欢学习， 追求高水平的作品。如果有动态网站开发经验，了解ajax, bootstrap、django前后端框架的更好了。
        如果你对别的方面的编程，电子制作，技术研究感兴趣，我也很愿意和你做朋友了~~
    </p>
    <p>
        email: 121866685@qq.com
    </p>
  </div>
</div>
</div>

{% endblock %}