{% extends "base.html" %}

{% block cssblock %}
<style type="text/css">
    #ie6-warning{
    background:rgb(255,255,225);position: fixed;top:0;left:0;font-size:12px;color:#333;width:97%;padding: 2px 15px
    2px 23px;text-align:left;_height:20px;}
    #ie6-warning a {text-decoration:none;}
    #ie6-warning a:link,#ie6-warning a:visited{text-decoration:none; color:#03F; display:inline;}
    #ie6-warning a:hover,#ie6-warning a:active{text-decoration:none; color:#69F; display:inline;}
</style>
{% endblock %}
{% block body %}

{% include "_nav_bar.html" %}
{% include "ie6.html" %}
<div class="container"><center>
<a href="/online_shop/"><img src="/images/index_pic1.png" class="img-responsive"></a></center>
</div>
{% endblock %}